
.main-page {
    flex: 1;
    display: flex;
    padding: 16px;
    justify-content: center; 
    align-items: center;
  }

  .main-page h2 {
    margin-bottom: 10px;
  }

  .card-container {
    width: 100%;
    max-width: 600px; 
  }