
.topic-words {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  
  
  .topic-words table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .topic-words th, .topic-words td {
    padding-top: 12px;
    padding-right: 5px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
  }
  


  .topic-words input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }
  
  .topic-words button, .edit-button, .delete-button, .save-button, .cancel-button{
    padding: 8px 8px;
    margin-top: 10px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;  

  }

  .edit-button {
    background-color: var(--primary-color);
  }

  .delete-button {
    background-color: #FFE4B5;
    font-size: 12px;
    
  }
  
  .save-button {
    background-color: #7fecaa; 
    
  }
  
  .cancel-button {
    background-color: #FFE4B5; 
    
  }
  
  .edit-button:hover, .delete-button:hover, .save-button:hover, .cancel-button:hover {
    opacity: 0.8;
  }

  .add-word-button {
    padding: 8px 8px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
    
  }
  
  .add-word-button:hover {
    opacity: 0.8;
  }

  .word-input {
    width: 100%;
    padding: 6px 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .word-input::placeholder {
    color: #aaa;
  }
  
  .input-error {
    border-color: red;
    background-color: #ffecec;
  }