
.header {
    display: flex;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  
  .login {
    font-size: 16px;
    cursor: pointer;
  }
  
  .login:hover {
    opacity: 0.8;
  }